# Pandas - Data Analysis Library

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

## Importing Pandas

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.1.5'

## Series

In [ ]:
pd.Series(data = (1,2,3,4))

0    1
1    2
2    3
3    4
dtype: int64

## DataFrame

In [ ]:
df = {col_1}

    Nama  Umur
0  Selly    12
1   Emir    13

![](pandas/series-and-dataframe.width-1200.png)

## Creating DataFrame from dictionary

In [ ]:
df = {"col_1":[3,2,1,0],"col_2":[a,b,c,d]}

In [ ]:
df0 = pd.DataFrame(df)
df0

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

Specify orient='index' to create the DataFrame using dictionary keys as rows:

In [ ]:
df2 = pd.DataFrame.from_dict(df,orient ="index")
df2

       0  1  2  3
col_1  3  2  1  0
col_2  a  b  c  d

When using the ‘index’ orientation, the column names can be specified manually:

In [ ]:
df3 = pd.DataFrame.from_dict(df, orient='index',
                       columns=['A', 'B', 'C', 'D'])
df3

       A  B  C  D
col_1  3  2  1  0
col_2  a  b  c  d

We can change the columns' name

In [ ]:
df3.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df3.columns = (["First","Second","Third","Fourth"])

In [ ]:
df3

      First Second Third Fourth
col_1     3      2     1      0
col_2     a      b     c      d

In [ ]:
df3.columns.values[0]

'First'

In [ ]:
df3.columns.values[2] = "Tiga"

In [ ]:
df3.columns.values[3] = "Empat"

In [ ]:
df3

      First Second Tiga Empat
col_1     3      2    1     0
col_2     a      b    c     d

### Exercise 1

1. Create the following dataframe
![](pandas/ex00.png)

2. Change "Location" into "City"

# Open CSV file

We will be using data of Uber drive in 2016. The data can be obtained from Kaggle (https://www.kaggle.com/zusmani/uberdrives)

In [ ]:
data = pd.read_csv("My Uber Drives - 2016.csv")
data

           START_DATE*         END_DATE*  ...   MILES*         PURPOSE*
0       1/1/2016 21:11    1/1/2016 21:17  ...      5.1   Meal/Entertain
1        1/2/2016 1:25     1/2/2016 1:37  ...      5.0              NaN
2       1/2/2016 20:25    1/2/2016 20:38  ...      4.8  Errand/Supplies
3       1/5/2016 17:31    1/5/2016 17:45  ...      4.7          Meeting
4       1/6/2016 14:42    1/6/2016 15:49  ...     63.7   Customer Visit
...                ...               ...  ...      ...              ...
1151  12/31/2016 13:24  12/31/2016 13:42  ...      3.9   Temporary Site
1152  12/31/2016 15:03  12/31/2016 15:38  ...     16.2          Meeting
1153  12/31/2016 21:32  12/31/2016 21:50  ...      6.4   Temporary Site
1154  12/31/2016 22:08  12/31/2016 23:51  ...     48.2   Temporary Site
1155            Totals               NaN  ...  12204.7              NaN

[1156 rows x 7 columns]

### Basic Operation

In [ ]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [ ]:
data.tail()#menampilkan 5 data paling bawah

           START_DATE*         END_DATE*  ...   MILES*        PURPOSE*
1151  12/31/2016 13:24  12/31/2016 13:42  ...      3.9  Temporary Site
1152  12/31/2016 15:03  12/31/2016 15:38  ...     16.2         Meeting
1153  12/31/2016 21:32  12/31/2016 21:50  ...      6.4  Temporary Site
1154  12/31/2016 22:08  12/31/2016 23:51  ...     48.2  Temporary Site
1155            Totals               NaN  ...  12204.7             NaN

[5 rows x 7 columns]

In [ ]:
data.shape

(1156, 7)

In [ ]:
data.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

### Convert data type

It can be seen that the START_DATE* and END_DATE* is object type data. While in fact, it is a date

In [ ]:
data1 = pd.DataFrame({"Cost":["5","5","7"],"Amount":[11,12,13],"Date":["11-10-2020","12-10-2020","13-10-2020"]})
data1

  Cost  Amount        Date
0    5      11  11-10-2020
1    5      12  12-10-2020
2    7      13  13-10-2020

In [ ]:
data1.dtypes

Cost      object
Amount     int64
Date      object
dtype: object

In [ ]:
data["Date"] = pd.to_datetime(data1["Date"])

In [ ]:
data1["Cost"] = pd.to_numeric(data1["Cost"])

In [ ]:
data1

   Cost  Amount        Date
0     5      11  11-10-2020
1     5      12  12-10-2020
2     7      13  13-10-2020

In [ ]:
data1.dtypes

Cost       int64
Amount     int64
Date      object
dtype: object

#### Apply to our dataframe

In [ ]:
# convert data to datetime format
pd.to_datetime(data["START_DATE*"], format='%m/%d/%Y %H:%M')

ValueError: time data 'Totals' does not match format '%m/%d/%Y %H:%M' (match)

In [ ]:
pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

0      2016-01-01 21:11:00
1      2016-01-02 01:25:00
2      2016-01-02 20:25:00
3      2016-01-05 17:31:00
4      2016-01-06 14:42:00
               ...
1151   2016-12-31 13:24:00
1152   2016-12-31 15:03:00
1153   2016-12-31 21:32:00
1154   2016-12-31 22:08:00
1155                   NaT
Name: START_DATE*, Length: 1156, dtype: datetime64[ns]

In [ ]:
data.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

Why the `START_DATA*` is still object? because it is not changed in the data frame

In [ ]:
data["START_DATE*"] = pd.to_datetime(data["START_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

START_DATE*    datetime64[ns]
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

In [ ]:
data["END_DATE*"] = pd.to_datetime(data["END_DATE*"],format='%m/%d/%Y %H:%M', errors = 'coerce')

In [ ]:
data.dtypes

START_DATE*    datetime64[ns]
END_DATE*      datetime64[ns]
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

In [ ]:
data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,NaT,NaT,NaN,NaN,NaN,12204.7,NaN

In [ ]:
data2 = pd.read_csv("datasets/My Uber Drives - 2016.csv")
data2

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

### Dataset summarization

In [ ]:
data.describe()

             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [ ]:
data.describe(include='all')

<ipython-input-43-589a52936347>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include='all')
<ipython-input-43-589a52936347>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe(include='all')

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
count,1155,1155,1155,1155,1155,1156.000000,653
unique,1154,1154,2,177,188,NaN,10
top,2016-06-28 23:34:00,2016-06-28 23:59:00,Business,Cary,Cary,NaN,Meeting
freq,2,2,1078,201,203,NaN,187
first,2016-01-01 21:11:00,2016-01-01 21:17:00,NaN,NaN,NaN,NaN,NaN
last,2016-12-31 22:08:00,2016-12-31 23:51:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,21.115398,NaN
std,NaN,NaN,NaN,NaN,NaN,359.299007,NaN
min,NaN,NaN,NaN,NaN,NaN,0.500000,NaN
25%,NaN,NaN,NaN,NaN,NaN,2.900000,NaN
50%,NaN,NaN,NaN,NaN,NaN,6.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,10.400000,NaN
max,NaN,NaN,NaN,NaN,NaN,12204.700000,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1155 non-null   datetime64[ns]
 1   END_DATE*    1155 non-null   datetime64[ns]
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 63.3+ KB

In [ ]:
# count of unique start locations
data["START*"].value_counts()

Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
                   ...
Washington            1
Wake Forest           1
Mountain View         1
Krendle Woods         1
College Avenue        1
Name: START*, Length: 177, dtype: int64

### > Exercise 2

1. Create the following dataframe with “Umur” is object type and convert it into integer
![](pandas/ex1.png)

2. Go to Kaggle, download the Titanic data and do the data basic exploration.\
head, tail, describe, info, size, shape

## Data Manipulation Tasks

There are five common data manipulations tasks:
1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/conditionally adding columns
5. Groupby/summarize

## 1. Selecting/Indexing

### `loc` and `iloc`

![](pandas/loc.png)

In [ ]:
data.head()

### Positional indexing

In [ ]:
data.iloc[0:3, [1,3]]

In [ ]:
data.iloc[:, 3:6]

In [ ]:
data.iloc[1:3, 3:6]

### Label indexing

In [ ]:
data.loc[0:5, :"START*"]

In [ ]:
data.loc[:, ["START_DATE*", "MILES*"]].head()

In [ ]:
data[["START_DATE*", "MILES*"]]

In [ ]:
a = data.loc[:, "START*"]
a

In [ ]:
type(a)

In [ ]:
b = data.loc[:, ["START*"]].head()
b

In [ ]:
type(b)

##### All function work in df, not in series

### > Exercise 3

1. Select columns: `START_DATE*, START*, STOP*`

2. Extract the first & last 10 rows of the previous columns